
.section-content {
	@include outer-container;
	padding: $default-spacing;
}

header {
	min-height: 32em;
}

#explainer {

	ul {
		@include span-columns(12);
	}

	.description, #phone {
		display: none;
	}

	.description, ul {
		margin-top: 2em;
	}

	#phone img {
		width: 96%;
		padding: 1em;
	}
}


#quote {
	h2 {
		padding: 2em 0;
		text-align: center;
	}
}


#photo-grid {

	.section-content {
		padding: 0;
	}

	h2 {
		text-align: center;
		padding: 2em;
		margin: 0;
	}

	ul {
		// @include span-columns(12);
		@include clearfix();
	}

	li#cta {
		@include span-columns(4);
		@include omega();

		width: 33.33%;

		button {
			width: 100%;
			height: 100%;
			border-radius: 0;
			background: $red;
			color: white;
			font-weight: 300;

			@include transition(all .15s ease-out);

			&:hover {
				background: shade($red, 20%);
			}
		}
	}
	
	li.block {
		@include span-columns(2);
		@include omega();

		width: 16.66%;
		display: inline-block;
		margin: 0;

		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		
		height: 130px;

		.block-content {
			font-size: 75%;
			background: black;
			visibility: hidden;
			width: 100%;
			height: 100%;
			color: white;
			margin: 0;
			padding: 1em;
			text-align: center;
			padding-top: 30%;

			.student-name {
				color: $red;
				margin-bottom: 10%;
			}
		}

		&:hover {
			.block-content {
				visibility: visible;
			}
		}
	}
}





#contact {

	color: white;

	.section-content {
		padding-top: 24em;
		padding-bottom: 4em;
	}

	h4 {
		color: $red;
	}

	.address {
		// font-size: 95%;
	}

	h3 {
		margin-top: 1em;
	}

	.number-email {
		font-size: 90%;
	}

	// min-height: 36em;
}


footer {

	@include clearfix;

	background: black;
	color: white;
}






