


header {
	h1 {
		margin: 0;
		display: block;
		padding: .25em .25em;
		text-align: center;
		color: white;
		font-weight: 300;

	}
}

#explainer {

	p {
		font-size: 1.1em;
	}

	h2 {
		text-align: center;
		margin-bottom: 1em;
	}



	i {
		font-size: .75em;
		margin-left: -1.68em;
		margin-top: -.55em;
		padding: .35em;
	}

}


#quote {
	background-color: black;
	h2 {
		color: white;
		font-style: italic;
	}
}


